<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bamdow.mapper.OtherProjectMapper">
    <insert id="insert" parameterType="com.bamdow.pojo.entity.OtherProject">
        INSERT INTO other_projects (
            id,
            external_link,
            introduction
        ) VALUES (
            #{id},
            #{externalLink},
            #{introduction}
        )
    </insert>
    <update id="update" parameterType="com.bamdow.pojo.entity.OtherProject">
        update other_projects
        set
            external_link=#{externalLink},
            introduction=#{introduction}
        where
            id=#{id}
    </update>
</mapper>